<center>
<form method="POST"
	action="/content/ServletsTest/en/_jcr_content.shree.txt">


	<h1>Student Register</h1>
	<div>
		<label><b>Name:</b></label> <input type="text"
			placeholder="Enter Name" name="name" id="name">
	</div>
	<div>
		<label><b>Age:</b></label> <input type="text" placeholder="Enter agee"
			name="age" id="age">
	</div>
	<div>
		<label><b>Address:</b></label> <input type="text"
			placeholder="Enter your address" name="address" id="address">
	</div>

	<div>
		<label><b>Pincode:</b></label> <input type="text"
			placeholder="Enter your pincode" name="pincode" id="pincode">
	</div>
	<div>
		<label><b>Email:</b></label> <input type="text"
			placeholder="Enter your email" name="email" id="email">
	</div>
	<div>
		<label><b>Username:</b></label> <input type="text"
			placeholder="Enter username" name="username" id="username">
	</div>

	<div>
		<label><b>Password:</b></label> <input type="password"
			placeholder="Enter Password" name="password" id="password">
	</div>

	<div>
		<input type="submit" value="Submit" />

	</div>
</form>
<center>