<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.css @ categories='cq.foundation'}" />

<form>
  <h1 class="text-danger">Get 100 bonus points just for signing up!</h1>
  <p class="h6">Tell us about yourself</p>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="firstname"></label> <input type="text" class="form-control" id="firstname" placeholder="First Name*">
      <span class="error_form" id="firstnameC"></span>
    </div>

  </div>
  <div class="form-row">

    <div class="form-group col-md-6">
      <p class="h6">Your contact info</p>
      <label for="address"></label> <input type="text" class="form-control" id="address" placeholder="Address*">
      <span class="error_form" id="addressC"></span>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="gender"></label> <input type="text" class="form-control" id="gender" placeholder="Gender">
      <span class="error_form" id="genderC"></span>
    </div>
  </div>
</form>
<br>
<br>
<div class="text-center">
  <button type="button" id="btnid" onclick="formData()" class="btn btn-danger">Become a Member</button>
</div>
<br>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientLib.js @ categories='cq.foundation'}" />